/* общий класс для всех элементов на странице для выравнивания */

.content-section {
  width: 100%;
  margin: 0 auto;
  color: black;
  background-color: white;
}

/* Стили блока хэдера */

.header {
  display: grid;
  grid-template-columns: 1fr 136px 1fr;
  align-items: center;
  padding: 92px 50px 92px 50px;
  font-size: 18px;
  line-height: 1.2;
}

/* Список ссылок */

.header__links-list {
  display: flex;
  gap: 32px;
  white-space: nowrap;
}

.header__links-list-item {
  letter-spacing: 0.18px;
  text-decoration: none;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline 1px;
  text-underline-offset: 4px;
}

.header__link_active {
  border-bottom: none;
  text-decoration: none;
}

/* Логотип в центре */

.header__logo {
  display: block;
  justify-self: center;
  width: 136px;
}

/* Блок с адресом */

.address {
  justify-self: right;
  width: 210px;
  margin-right: 30px;
  font-style: normal;
  line-height: 24px;
}

.address a {
  letter-spacing: 0.18px;
  text-decoration: underline 1px;
  text-underline-offset: 3px;
}

/* Стили блока обложки с заголовком страницы */

.cover {
  position: relative;
  z-index: 1;
  min-height: 758px;
  padding: 165px 49px 51px 50px;
  color: #ffffff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Оверлей */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000000;
}

/* Стили заголовка страницы */

.cover__title {
  margin-bottom: 135px;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
}

.aligned-text_center {
  line-height: 100%;
  text-align: center;
}

.aligned-text_right {
  margin-bottom: 0;
  line-height: 100%;
  text-align: right;
}

/* Стили для различных отступов между буквами в заголовке */

.increased_letter_space {
  letter-spacing: 60px;
}

.standart_letter_space {
  letter-spacing: 30px;
}

.no_letter_space {
  letter-spacing: 0;
}

/* Блок с описанием лотов */

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 79px;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.3px;
}

.cover__description-text {
  white-space: nowrap;
}

/* Кнопка в обложке страницы */

.bet-button {
  width: 257.5px;
  min-height: 51px;
  border: 1px white solid;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

/* Блок с карточками лотов */

.lots {
  padding: 178px 24px;
}

/* Заголовок блока с карточками */

.lots__heading {
  margin-bottom: 25px;
  padding-left: 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

/* Контейнер с карточками */

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 25px;
  min-height: 563px;
  margin-bottom: 30px;
  list-style: none;
}

/* Контейнер под карточку лота */

.lots__card-list-item {
  max-width: 334px;
}

/* Ссылка по размеру всей карточки лота */

.card-link {
  height: 100%;
  text-decoration: none;
}

/* Стили карточки и текста в ней */

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px 40px;
}

.card__title {
  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline 0.5px;
  text-underline-offset: 5px;
  text-transform: uppercase;
}

.card__text {
  color: white;
  font-size: 20px;
  line-height: 24px;
}

.card__text-increased-letter-spacing {
  letter-spacing: 2.6px;
}

/* Стили изображений в карточках */

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Стили ссылки после блока с карточками */

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline 0.5px;
  text-underline-offset: 6px;
}

/* Блок Об аукционе */

.about {
  display: flex;
  gap: 25px;
  margin-bottom: 165px;
  padding: 4px 24px 0 24px;
}

.about__column-with-text {
  padding: 100px 5px 13px 0px;
}

/* Стили логотипа */

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 47px 0px 47px;
  border-radius: 240px;
  background-color: black;
}

.about__logo-image {
  display: block;
  width: 150px;
  height: 115px;
}

/* Стили текста и заголовка колонки */

.about__title {
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 24px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

/* Блок футера */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 50px 92px 50px;
  font-size: 18px;
  line-height: 1.2;
}

/* Стили меню с навигацией в футере */

.footer__menu {
  justify-self: center;
  align-self: flex-start;
  text-align: center;
}

.footer__menu-list {
  font-size: 18px;
  letter-spacing: 0.2px;
  list-style: none;
}

.footer__menu-link {
  border-bottom: 1px black solid;
  text-decoration: none;
  white-space: nowrap;
}

.footer__menu-link_active {
  border-bottom: none;
}

/* Стили меню соц сетей */

.footer__social-list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 240px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  width: 100%;
}
